<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitmanager.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <service
            android:name=".firebase.FitmanagerFcmService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.InsertMealActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.CoachAcitivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MealDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CommentReplyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CoachListFilterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VideoFilterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopVideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VideoSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VideoHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopularityVideoFilterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CommentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ProfileEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BookmarkMealListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BookmarkCoachActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BookmarkVideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyCommentHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CoachInfomationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VideoFullAcitivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CommentContentItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CoachVideoListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- fcm 알림 컬러 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />


    </application>

</manifest>